<!DOCTYPE html>
<html>
  <head>
    <title>PetSit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div>
  <% if @current_user %>
  Hello, <%= @current_user.name %>
<%= form_with url: destroy_session_path, method: :derlete do |form| %> 
  <%= form.submit "Wyloguj się" %>
    <% end %>
  <% end %>
  <div>
  <div>
    <%= yield %>
  </body>
</html>
